.neonText {
    animation: flicker 1.5s infinite alternate;
    color: #333;

    font-size: 2.5rem;
    text-align: center;
}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px rgb(233, 0, 254),
            0 0 80px rgb(233, 0, 254),
            0 0 90px rgb(233, 0, 254),
            0 0 100px rgb(233, 0, 254),
            0 0 150px rgb(233, 0, 254);

    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}